<!--aka homepage--> 
<!DOCTYPE html>
<html>

    <head>
    <title>Lady's Library | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <h1>Welcome to the Library</h1>
    <h2>The Most Recent Additions:</h2>
    {% if entries %}
        <ul>
        {% for entry in entries %}
            <li>{{ entry.title }} - {{ entry.author }} - Added: {{ entry.entry_date }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books added yet.</p>
    {% endif %}
    <h2>Incoming Features:</h2>
    <h3>1. View Library</h3>
    <h3>2. Search by keyword</h3>
    <form action="{{ url_for('search') }}" method="get">
        <button type="submit" class="action_btn">Go to Search</button>
    </form>
    <form action="{{ url_for('insert') }}" method="get">
        <button type="submit" class="action_btn">Add a book</button>
    </form>
    </body>

</html>
