<!DOCTYPE html>
<html>
<head>
    <title>Lady's Library | Insert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<h2>Add Book</h2>
<form action="{{ url_for('insert') }}" method="post">
    <p class="heading"><span class="label">Title:</span> <input type="text" name="title" required></p>
    <p class="heading"><span class="label">Author (First Last):</span> <input type="text" name="author" required></p>
    <p class="heading"><span class="label">Series (Optional):</span> <input type="text" name="series"></p>
    <p class="heading"><span class="label">Genre:</span> <input type="text" name="genre" required></p>
    <p class="heading"><span class="label">Version (This publish date):</span> <input type="month" name="version" placeholder="yyyy-mm" required></p>
    <p class="heading"><span class="label">First Published:</span> <input type="month" name="publish_date" placeholder="yyyy-mm" required></p>
    <p class="heading"><span class="label">Publisher:</span> <input type="text" name="publisher" required></p>
    <button type="submit" class="action_btn">Add</button>
</form>
</body>
</html>