h1 {color: blue;}

body {
    background-color: rgb(231, 230, 200);
}



.buttons {
width: 120px;
margin: 0 auto;
display: inline;}

    .action_btn {
width: 120px;
margin: 0 auto;
display: inline;}
.input {
display: inline-block;
}

.heading {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.heading .label {
    display: inline-block;
    min-width: 200px;
}

.heading input {
    flex: 1;
    max-width: 300px;
}